In [2]:
import numpy as np
import pandas as pd

# Functions

In [3]:
def compute_dist(x,x_train):
    distance=np.sqrt(np.sum((x-x_train)**2,axis=1))
    return distance

In [4]:
def knn(x_train,y_train,k,x):
    k_array=[]
    for i in range(x.shape[0]):
        dist=compute_dist(x[i],x_train)  # x can be a single querry point or can be multiple point
        k_array.append(y_train[np.argsort(dist)][:k])
        if i%np.ceil(x.shape[0]/40)==0:
            print('==',end='')
    print('> !!')
    return k_array

In [5]:
def most_freq_element(arr):
    uniq=np.unique(arr)
    b=[]
    for ele in uniq:
        c= np.array(np.where(arr==ele)).shape[1]
        b.append(c)
    freq=np.array(b)
    most_freq_ele=uniq[np.argmax(freq)]
    return most_freq_ele

In [6]:
def assign_class(k_array,x):
    y=[]
    for i in range(x.shape[0]):
        x_class=most_freq_element(k_array[i])
        y.append(x_class)
    return np.array(y)

# Load Data

In [7]:
df=pd.read_csv('Classification_train.csv')
z=np.array(df.tail(25000))
x_train=z[:,1:]/255
y_train=z[:,0]
cv=np.array(df.head(5000))
x_cv=cv[:,1:]/255
y_cv=cv[:,0]

# Run KNN

In [8]:
k_array=(knn(x_train,y_train,7,x_cv))

================================================================================> !!

In [11]:
y_predicted=assign_class(k_array,x_cv)
accuracy = np.mean(y_cv==y_predicted)
print(f'Accuracy_cv:{accuracy}')

Accuracy_cv:0.9808

# Load Test Data

In [13]:
td=pd.read_csv('Classification_test.csv')
td=np.array(td)
ID=td[:,0]
x_test=td[:,1:]/255

# Predicting Y labels for test data

In [14]:
K_array_test=knn(x_train,y_train,7,x_test)

================================================================================> !!

In [15]:
Y_pred=assign_class(K_array_test,x_test)

In [32]:
Result=np.c_[ID,Y_pred]
Result=pd.DataFrame(Result,columns=['ID','Y_pred'])

In [33]:
Result

         ID  Y_pred
0     15795       0
1       860       4
2      5390       5
3     11964       5
4     11284       9
...     ...     ...
9995  11260       9
9996  18563       9
9997    634       0
9998  10057       8
9999  13345       4

[10000 rows x 2 columns]

In [34]:
Result.to_csv('KNN_test.csv')